.ng-empty {
    background-color: rgba(255, 0, 0, 0.32);
}

.list {
    position: absolute;
    z-index: 999;
    list-style-type: none;
    padding-left: 0px;
    background-color: yellowgreen;
}


.list li {
    padding: 5px;
}

.list li:hover {
    background-color: wheat;
    cursor: pointer;
}

input#item {
    width: 100%;
}

#matdisp{
    list-style-type: none;
}

#matdisp li div{
    border: 1px solid;
}

/* from old format*/
.laxmi h2 {
    text-align: center;
}

.laxmi h3 {
    text-align: center;
}

.heading h4 {
    text-align: center;
}

table.disp {
    margin: 20px;
}

th.material {
    width: 0;
}

td.currn {
    text-align: right;
}

.sign {
    position: relative;
    padding-top: 100px;
    left: 70%;
    bottom: 0%;
}

.mainheading {
    text-decoration: underline;
}

@media print{
    .btn {
        display: none;
    }
}